body {
    margin: 10px
}

main {
    background-color: red;
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: space-evenly;
    flex-direction: column;
}

div {
    background-color: black;
    color: white;
    height: 50px;
}