body {
    padding: 10px;
    height: 100dvh;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

main {
    background-color: red;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}

#label-color {
    background-color: black;
    color: white;
    height: 50px;
    width: 300px;
    align-content: center;
    text-align: center;
    border: 3px solid white;
    border-radius: 50px;
}

#btn-new-color{
    border: 3px solid black;
    border-radius: 50px;
    height: 30px;
    width: 150px;
}